@import "base.less"; // Import the base css

//* { background: rgba(0,0,0,0.1);}

@lightBlue: #eef8fd;
@darkBlue: #1A3148;
@blue: #024A65;
@museo: "museo", "Helvetica Neue", helvetica, sans-serif;
@museosans:  "museo-sans", "Helvetica Neue", helvetica, sans-serif;

div { box-sizing: border-box; }
img { width: 100%; }
.hide { display: none; }
.show { display: block; }


// Start Styles

body {
   font-size: 16px;
   padding-bottom: 30px;
   background: #fefefe;
   background-image: url("../../assets/img/bg/3.png");
   font-family: @museosans;
}

header {
   text-align: center;
   margin-bottom: 60px;
   display: block;
   .clear;

   h1 {
      font-family: @museo;
      color: #3c5664;
      text-shadow: 0px -1px 0px rgba(255,255,255,1), 0px 1px 4px rgba(0,0,0,0.3);
      font-weight: bold;
      margin: 40px 0 20px;
   }
}

.signup {
   h4 {
      text-transform: uppercase;
      font-size: 18px;
      color: #3c5664;
      font-weight: 700;
   }
}

.fullimg {
   background-image: url("../../assets/img/ocean.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   padding: 80px 0  40px;
      border-top: 1px black solid;

   .box-shadow(0px 0px 100px rgba(0,0,0,0.7) inset);

   .five {
      padding: 20px;
      h2 {
         font-weight: 700;
         color: white;
         margin-top: 10px;
         text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
      }
      h4 {
         color: rgba(255,255,255,0.8);
         text-shadow: 0px -1px 0px black;
         line-height: 28px;
         font-size: 18px;
         margin-top: 30px;

         span {
            margin-top: 10px;
            display: inline-block;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
         }
      }
   }
}
