@import "base.less"; // Import the base css
// Google fontz import

* { background: rgba(0,0,0,0.1);}

@lightBlue: #eef8fd;
@darkBlue: #1A3148;
@blue: #024A65;


body {
  font-size: 16px;
  padding-bottom: 30px;
// /.gradient(@blue, darken(@darkBlue, 6%));

background: lighten(@lightBlue, 2%);
  font-family: "museo-sans", "Helvetica Neue", helvetica, sans-serif;
}

header {
  text-align: center;
  margin-bottom: 40px;
  background: red;
  display: block;
  .clear;
h1 {
  font-family: "museo", "Helvetica Neue", helvetica, sans-serif;
  font-weight: bold;


  margin: 40px 0 20px;
}

}

.container {
  //width: 80%;
}

div { box-sizing: border-box; }
.hide { display: none; }
.show { display: block; }
